<app-menu>

    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
     
     <div class="responsive">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <div class="general">
     <!--<app-menu></app-menu>-->
     <div class="Cabecera">
         <h1 class="center">{{ title }}</h1>
     </div>
     
     <div class="profile">
         <div class="image">
             <img src="https://png.pngtree.com/png-clipart/20190516/original/pngtree-users-vector-icon-png-image_3725294.jpg" alt="ProfilePicture" width="250" height="200">
         </div>
         
             <p>
             <label for="nombreLabel">Nombre: </label>
             <label for="nombreEstudiante">#######</label>
         </p>
         <p>
             <label for="codigoLabel">Codigo: </label>
             <label for="codigoEstudiante"> 1234567890</label>
         </p>
         
     </div>
     
     <div class="procesos">
         <p>
             <label for="proyectoLabel">Plantas: </label>
             <label for="proyecto">No tiene plantas registradas</label>
         </p>
 
         <div class="buttons">
 
             <div class="new-plant-button">
                 <button mat-raised-button     >Registrar planta</button>
             </div>
 
             <div class="tasks-button">
                 <button [routerLink]="['/verTareas']" mat-raised-button     >Mis tareas</button>
             </div>
         </div>
     <button mat-raised-button     [routerLink]="['/home']" [style]="{'margin':'10px'}">Atras</button>
     </div>
     </div>
 </div>
 </app-menu>