
<meta name="viewport" content="width=device-width, initial-scale=1.0">   
<div class="contenido">
    <h1>Login</h1>
    <mat-card-content>
        <form>
            <p>
                <mat-form-field appearance="outline">
                    <input type="text" matInput placeholder="username" [(ngModel)]="username">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline">
                    <input type="password" matInput placeholder="password" [(ngModel)]="password">
                </mat-form-field>
            </p>
            <button mat-raised-button (click)="validar()" [style]="{'margin':'1%'}">Login</button>
            <br>
            <button mat-raised-button  [routerLink]="['/home']" [style]="{'margin':'1%'}">Atrás</button>
            <br>
        </form>
    </mat-card-content>
</div>

