<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="contenido">
  <h1>Registrate</h1>

  <div>
    <div>
      <mat-form-field appearance="outline">
        <input matInput [(ngModel)]="newUser.nombrePropietario" id="name" type="text" placeholder="Nombre">
      </mat-form-field>
    </div>
  </div>

  <div>
    <div>
      <mat-form-field appearance="outline">
        <input matInput [(ngModel)]="newUser.usuario" id="username" type="text" placeholder="Usuario">
      </mat-form-field>
    </div>
  </div>

  <div>
    <div>
      <mat-form-field appearance="outline">
        <input matInput [(ngModel)]="newUser.email" id="email" type="text" placeholder="Email">
      </mat-form-field>
    </div>
  </div>

  <div>
    <div>
      <mat-form-field appearance="outline">
        <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="newUser.pass" id="contraseña" type="text" placeholder="Contraseña">
      </mat-form-field>
    </div>
  </div>
  
  <div class="register-button">
    <button mat-raised-button [routerLink]="['/home']" (click)="crearUsuario()">Regístrate</button>
    <br><br>
    <button mat-raised-button  [routerLink]="['/bienvenida']" [style]="{'margin':'5px'}">Atras</button>
  </div>
</div>





