
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div class="Cabecera">
        <h1 class="center">{{title}}</h1>
    </div>



  <div class="input-nombre-registro">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput [(ngModel)]="newUser.nombrePropietario" id="name" type="text" placeholder="Nombre">
        <mat-hint>Su nombre</mat-hint>
      </mat-form-field>
    </div>
  </div>

      <div class="input-nombre-registro">
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Usuario</mat-label>
          <input matInput [(ngModel)]="newUser.usuario" id="username" type="text" placeholder="Usuario">
          <mat-hint>Su nombre de usuario</mat-hint>
        </mat-form-field>
      </div>
      </div>


   <div class="input-nombre-registro">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="newUser.email" id="email" type="text" placeholder="Email">
        <mat-hint>Su email</mat-hint>
      </mat-form-field>
     </div>
     </div>

  <div class="input-nombre-registro">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="newUser.pass" id="contraseña" type="text" placeholder="Contraseña">
        <mat-hint>Su contraseña</mat-hint>
      </mat-form-field>
    </div>
  </div>

<!--
    <div class="contenido-buttons">
        <div class="rolBox">
            <label id="example-radio-group-label">Elige tu rol:</label>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="newUser.usertype">
            <mat-radio-button class="example-radio-button" *ngFor="let rol of roles" [value]="rol" [color]="color">
            {{rol}}
            </mat-radio-button>
            </mat-radio-group>
            <div class="rolChoose">El rol escogido es: {{newUser.usertype}}</div>
        </div>
    </div>
-->
        <div class="register-button">
            <button mat-raised-button (click)="crearUsuario()">Regístrate</button>
            <button mat-raised-button  [routerLink]="['/bienvenida']" [style]="{'margin':'5px'}">Atras</button>
        </div>





